In [2]:
import pandas as pd
# Create a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
print(s[2])     # Access the element with label 2 (value 30)

30

In [4]:
print(s.iloc[3]) # Access the element at position 3 (value 40)

40

In [5]:
print(s[1:4])   # Access a range of elements by label

1    20
2    30
3    40
dtype: int64

In [6]:
type(s[1:4])

pandas.core.series.Series

In [7]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
print(df['Name'])  # Access the 'Name' column

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [10]:
print(df.iloc[2])   # Access the third row by position
print(df.loc[1])    # Access the second row by label

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

In [11]:
print(df[['Name', 'Age']])  # Select specific columns
print(df[1:3])             # Select specific rows

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [12]:
unique_dates = df['Age'].unique()
unique_dates

array([25, 30, 35, 28], dtype=int64)

In [13]:
high_above_25 = df[df['Age'] > 25]
high_above_25

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [1]:
df.to_csv('trading_data.csv', index=False)

NameError: name 'df' is not defined